.container_logo{
    
    height: 360px;
    width: 360px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    margin-top: 13vh;
    
}

.container_logo img {
    height: 320px;
    width: 320px;
    animation: reel 1.5s;
}

@keyframes fade_in{
    0% {opacity: 0;
        transform: translateX(-600px)}
    20%{transform: translateX(50px);}
    40%{transform: translateX(0);
        opacity: 1;}
    80%{transform:scale(1);}
    90%{transform:scale(1.05);}
    100% {}
}

@keyframes reel {
    0%{transform: translateX(-50px) rotate(-25deg);}
    50%{transform: translateX(25px) rotate(10deg);}
    
}

