*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Anton&family=Denk+One&family=Roboto:wght@300&family=Secular+One&display=swap');

/*
font-family: 'Alatsi', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Denk One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
*/

:root{
--logogreen: rgb(33, 110, 91);
}

/* ---------- N A V B A R --------------*/

.nava{
    height: 120px;
    background-color: white;
    background: linear-gradient(to bottom, var(--logogreen), rgba(25, 75, 51, 0) );
    position: sticky;
    top:0;
    z-index: 10;
}

.nav{
    height: 90px;
    background-color: white;
}

/* ---------------- C A R R O U S E L ----------------*/

.carrousel-container{
    position: relative;
    top:0;
    height: 510px;
    width: 100%;
    overflow: hidden;
}

.carrousel-title{
    position: relative;
    top: 20%;
    left: 6%;
    z-index: 11;
    animation: appear 0.3s backwards;
    animation-delay: 0.2s;
}

.carrousel-title p{
    position: relative;
    line-height: 90%;
    color: white;
    width: 500px;
    font-size: 180px;
    font-family: 'Secular One', sans-serif;
    font-weight: 550;
    
}


@keyframes appear {
    from{opacity: 0;}
    to{opacity: 1;}
}

.carrousel-title-bar{
    position: absolute;
    left: 0;
    top: 21.5%;
    width: 54px; /*proporcionales*/
    height: 290px;/*proporcionales*/
    background-color: rgb(255, 255, 255);
    margin: 6px 0;/*proporcionales*/
    z-index: 12;
    animation: pop-left 0.5s;
}

@keyframes pop-left {
    0%{width: 0;
        opacity: 0.6;}
    40%{width: 80%;}
}

.carrousel-image{
    position: absolute;
    top: 0;
    width: 100%;
    height: 510px;
    object-fit:cover;
}

#carr1{
    animation: carr1 47s infinite;
    }

#carr2{
    animation: carr2  47s infinite;
}

#carr3{
    animation: carr3 47s infinite;
}

#carr4{
    animation: carr4 47s infinite;
}

@keyframes carr1 {
    0%{opacity: 1;}
    20%{opacity: 1;}
    25%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 1}
}

@keyframes carr2 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 1;}
    45%{opacity: 1;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes carr3 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 1;}
    70%{opacity: 1;}
    75%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes carr4 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}

/* -------------- P R E S E N T A T I O N ---------------------*/

.presentation-container {
    position: relative;    
    margin: 144px 0 144px 0;
    background-color:none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
.presentation-background{
    
    width: 70%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    
    
}


.presentation-logo{

}

.presentation-logo-img{
    height: 210px;
    width: 210px;
    margin-right: 18px;
}

.presentation-text{
    font-family: 'Alatsi', sans-serif;
    font-size: 52px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    border-left: 4px solid var(--logogreen);
}

.presentation-text p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--logogreen);
}

.slogan-top{
    width: 100%;
    height: 128px;
    background-color: var(--logogreen); 
    animation: livingColour 21s infinite;
}

.slogan-top::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 50px;
    width: 100%;
    border-bottom-right-radius: 100px;
    box-shadow: 0 0 5px 5px white;
  }

.slogan{
    background-color: var(--logogreen);
    animation: livingColour 21s infinite;
}
.slogan-inside{
    width: 70%;
    height: 510px;
    border: 10px solid white;
    background-color: white;
    box-shadow: 0 0 2px 5px white;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;   
    opacity: 0.8;

}

.slogan-inside-text{
    font-size: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Denk One', sans-serif;
}

.slogan-inside-img{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan-bottom{
    position: relative;
    width: 100%;
    height: 128px;
    background-color: var(--logogreen);  
    animation: livingColour 21s infinite;
    
}

.slogan-bottom::after{
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 50px;
    width: 100%;
    border-top-left-radius: 100px;
    box-shadow: 0 0 5px 5px white;  
}

@keyframes livingColour {
    50%{background-color: rgb(60, 197, 197);}    
}