*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Anton&family=Denk+One&family=Roboto:wght@300&family=Secular+One&display=swap');

/*
font-family: 'Alatsi', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Denk One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
*/

:root{
--logogreen: rgb(33, 110, 91);
}

/* ---------- N A V B A R --------------*/
.left-menu-container{
    width: 60px;
    height: 300px;
    background-color: #0c416462;
}
.left-menu{
    position: sticky;
    top: 10%;
    left: 0;
    width: 60px;
    height: 300px;
    /*background: linear-gradient(to right, rgb(31, 131, 106), rgba(238, 223, 223, 0));*/
    
    
    border-radius: 5%;
    z-index: 20;
    display: none;
}

.left-menu-display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--logogreen);
    animation: popleft 0.4s forwards;
    /*mix-blend-mode: exclusion;*/
    /*transform: rotate(270deg);*/
}

.left-menu-display:hover{
    background-color: #0c4164;
    cursor: pointer;
}

@keyframes popleft {
    from{transform: translateX(-500px)}
    to{transform: translateX(0px)}
}


.left-menu-text{
    width: 300px;
    font-size: 1.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: 600;
    transform: rotate(270deg) translateY(-120px) translateX(-130px);
    

}


.nava{
    height: 120px;
    background-color: white;
    background: linear-gradient(to bottom, var(--logogreen), rgba(25, 75, 51, 0) );
    position: sticky;
    top:0;
    z-index: 10;
}

.nav{
    height: 90px;
    background-color: white;
}

/* ---------------- C A R R O U S E L ----------------*/

.carrousel-container{
    position: relative;
    top:0;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.carrousel-title{
    position: relative;
    top: 30%;
    left: 6%;
    z-index: 11;
    animation: appear 0.3s backwards;
    animation-delay: 0.2s;
}

.carrousel-title p{
    position: relative;
    line-height: 90%;
    color: white;
    width: 500px;
    font-size: 12em;
    font-family: 'Secular One', sans-serif;
    font-weight: 550;
    
}

@media (max-width: 1620px) {
    .carrousel-title p {
      font-size: 10em;
    }
}


@keyframes appear {
    from{opacity: 0;}
    to{opacity: 1;}
}

.carrousel-title-bar{
    position: absolute;
    left: 0;
    top: 30%;
    width: 54px; /*proporcionales*/
    height: 50%;/*proporcionales*/
    background-color: rgb(255, 255, 255);
    margin: 6px 0;/*proporcionales*/
    z-index: 12;
    animation: pop-left 0.5s;
}

@keyframes pop-left {
    0%{width: 0;
        opacity: 0.6;}
    40%{width: 80%;}
}

.carrousel-image{
    position: absolute;
    top: 0;
    
    
    width:100%;
    height: 100%;
    object-fit:cover;
}

#carr1{
    animation: carr1 47s infinite;
    }

#carr2{
    animation: carr2  47s infinite;
}

#carr3{
    animation: carr3 47s infinite;
}

#carr4{
    animation: carr4 47s infinite;
}

@keyframes carr1 {
    0%{opacity: 1;}
    20%{opacity: 1;}
    25%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 1}
}

@keyframes carr2 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 1;}
    45%{opacity: 1;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes carr3 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 1;}
    70%{opacity: 1;}
    75%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes carr4 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}

/* -------------- P R E S E N T A T I O N ---------------------*/

.presentation-container {
    position: relative;    
    margin: 144px 0 144px 0;
    background-color:none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
.presentation-background{
    
    width: 70%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    
    
}


.presentation-logo{

}

.presentation-logo-img{
    height: 210px;
    width: 210px;
    margin-right: 18px;
}

.presentation-text{
    font-family: 'Alatsi', sans-serif;
    font-size: 52px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    border-left: 4px solid var(--logogreen);
}

.presentation-text p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--logogreen);
}


/*  c a r d s */


.destacados {
    position: relative;
    background-color: black;
    padding-bottom: 60px;
    
}

.card-container-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 68px;
    color: var(--logogreen);
    text-align: center;
    margin: 0 auto; 
    
    margin-bottom: 88px;
}


.card-container{
    background-color: white ;
    display: grid;
    justify-content: center;
    gap: 5px;
}


@media (min-width: 700px) {
    .card-container{
        grid-template-columns: auto auto;
    }
}   

@media (min-width: 1050px) {
    .card-container{
        grid-template-columns: auto auto auto;
    }
}   

@media (min-width: 1400px) {
    .card-container{
        grid-template-columns: auto auto auto auto;
    }
}   

@media (min-width: 1750px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto;
    }
}   

@media (min-width: 2100px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto;
    }
}   

@media (min-width: 2450px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}

.card {
    height: 420px;
    width: 340px;
    background: grey;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0.9;
    
   
}

.card:hover {
    box-shadow: 0 0 10px 1px white;
    opacity: 1;
    cursor:pointer;

}

.new-card{
    animation-name: slideUp;
    animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible;
}


@keyframes slideUp {
    0% {
      opacity: 0;
      
    } 
    100% {
      opacity: 1;
    }
  }

.card-image{
    width: 100%;
    object-fit:contain;
    
    
  /*
    object-fit:fill;  
    object-position: center;
    margin: 0 auto;*/
}

.card-image:hover{
    transform: scale(1.02);
    transition: 0.2s;
}


.footer-container    {
    height: 300px;
    background-image: linear-gradient(to top, #0c4164, black);
    display: flex;
   
}

.footer-left{
    padding-left: 8%;
    border-left: 25px solid rgb(189, 189, 189);
    margin-top: auto;
    margin-bottom: 3%;
    height: fit-content;
    

}

.card-container-footer{
    height: 300px;
    background-color: salmon;
}

.change{
    height: 50px;
}

/* ---------- S L O G A N ------------------*/

.slogan-top{
    width: 100%;
    height: 128px;
    background-color: var(--logogreen); 
    animation: livingColour 21s infinite;
}

.slogan-top::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 50px;
    width: 100%;
    border-bottom-right-radius: 100px;
    box-shadow: 0 0 5px 5px white;
  }

.slogan{
    background-color: var(--logogreen);
    animation: livingColour 21s infinite;
}
.slogan-inside{
    width: 70%;
    height: 510px;
    border: 10px solid white;
    background-color: white;
    box-shadow: 0 0 2px 5px white;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;   
    opacity: 0.8;

}

.slogan-inside-text{
    font-size: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Denk One', sans-serif;
}

.slogan-inside-img{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan-bottom{
    position: relative;
    width: 100%;
    height: 128px;
    background-color: var(--logogreen);  
    animation: livingColour 21s infinite;
    
}

.slogan-bottom::after{
    content: "";
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 50px;
    width: 100%;
    border-top-left-radius: 100px;
    box-shadow: 0 0 5px 5px white;  
}

@keyframes livingColour {
    50%{background-color: rgb(60, 197, 197);}    
}