*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    
    
}

html {
    scroll-behavior: smooth;
  }
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Anton&family=Denk+One&family=Roboto:wght@300&family=Secular+One&display=swap');

/*
font-family: 'Alatsi', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Denk One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Imprima', sans-serif;
*/

/*    background-color: #0c41641a; */


:root{
--logogreen: rgb(33, 110, 91);
--salmon: rgb(194, 115, 107);
--salmon-hov: rgb(235, 164, 156)
}

.hanging-logo{
    display:inherit;
    height: 0;
    position: sticky;
    top: 5vh;
    left: 95vw;
    z-index: 23999;    
}

.logo-arriba{
    position: absolute;
    left: 92%;
    height: 80px;
    width: 80px;
    z-index: 300;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    transition: 0.4s;
    animation: appear 3s;
    opacity: .8;
}



.hanging-logo img:hover{
    transform: rotate(15deg);
    box-shadow: 0 0 15px white;
}

/* ---------- N A V B A R --------------*/
.left-menu-container{
    width: 60px;
    height: 300px;
    background-color: var(--salmon);
}
.left-menu{
    position: sticky;
    top: 10%;
    left: 0;
    width: 60px;
    height: 300px;
    /*background: linear-gradient(to right, rgb(31, 131, 106), rgba(238, 223, 223, 0));*/
    
    
    border-radius: 5%;
    z-index: 20;
    display: none;
}

.left-menu-display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--logogreen);
    animation: popleft 0.4s forwards;

}

.left-menu-display:hover{
    background-color: var(--salmon-hov);
    cursor: pointer;
}

@keyframes popleft {
    from{transform: translateX(-500px)}
    to{transform: translateX(0px)}
}


.left-menu-text{
    width: 300px;
    font-size: 1.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: 600;
    transform: rotate(270deg) translateY(-120px) translateX(-130px);
    

}

.section-title{
    
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 64px;
    padding-top: 50px;
    padding-left: 87px;
    color: var(--logogreen);
    background-color: #0c41641a;
    position: relative;

}

.section-title::before{
    content: "";
    position: absolute;
    left:-22px;
    margin-top: 40px;
    background-color:white;
    height: 2px;
    width: 100px;
    
}

.nava{
    height: 120px;
    background-color: white;
    background: linear-gradient(to bottom, var(--logogreen), rgba(25, 75, 51, 0) );
    position: sticky;
    top:0;
    z-index: 10;
}

.nav{
    height: 90px;
    background-color: white;
}

/* ---------------- C A R R O U S E L ----------------*/

.carrousel-container{
    position: relative;
    top:0;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.carrousel-title{
    position: absolute;
    top: 30%;
    left: 6%;
    z-index: 1202;
    width: 100%;
    height: 16em;
}


.carrousel-title::before{
    content: '';
    position: absolute;
    left: -15%;
    top: 2%;
    width: 13%; /*proporcionales*/
    height: 90%;/*proporcionales*/
    background-color: rgb(255, 255, 255);
    margin: 6px 0;/*proporcionales*/
    z-index: 12;
    animation: pop-left 19.5s infinite;
    
}

@keyframes pop-left {
    0%{width: 13%;}
    2%{width: 100%;}
    4%{width: 13%;}
    31%{width: 13%;}
    33%{width: 100%;}
    35%{width: 13%;}
    65%{width: 13%;}
    67%{width: 100%;}
    68%{width:13%;}

}

.carrousel-title-text{
    position: absolute;
    animation: appear 1s;
    animation-delay: 0.2;
}


@keyframes appear {
    from{opacity: 0;}
    to{opacity: .8;}
}

.carrousel-title-text p{
    position: relative;
    line-height: 90%;
    color: white;
    
    font-size: 9em;
    font-family: 'Secular One', sans-serif;
    font-weight: 550;
    
}

.text1{
    animation: appearText1 19.5s infinite;

}
.text2{
    animation: appearText2 19.5s infinite;
}
.text3{
    animation: appearText3 19.5s infinite;
}

@keyframes appearText1 {
    0%{opacity: 0;}
    3%{opacity: 0;}
    4%{opacity: 1;}
    32%{opacity: 1;}
    33%{opacity: 0;}
    63%{opacity: 0;}
    66%{opacity: 0;}
    97%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes appearText2 {
    0%{opacity: 0;}
    33%{opacity: 0;}
    34%{opacity: 1;}
    65%{opacity: 1;}
    66%{opacity: 0;}
    97%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes appearText3 {
    0%{opacity: 0;}
    30%{opacity: 0;}
    33%{opacity: 0;}
    63%{opacity: 0;}
    66%{opacity: 0;}
    67%{opacity: 1;}
    97%{opacity: 1;}
    100%{opacity: 1;}

}

.carrousel-image{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    object-fit:cover;
}

#carr1{
    animation: carr1 47s infinite;
    }

#carr2{
    animation: carr2  47s infinite;
}

#carr3{
    animation: carr3 47s infinite;
}

#carr4{
    animation: carr4 47s infinite;
}

@keyframes carr1 {
    0%{opacity: 1;}
    20%{opacity: 1;}
    25%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 1}
}

@keyframes carr2 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 1;}
    45%{opacity: 1;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes carr3 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 1;}
    70%{opacity: 1;}
    75%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes carr4 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}


.carrousel-arrow{
    z-index: 25;
    position: relative;
    opacity: 0.7;
    width: 100%;
    
}

.carrousel-arrow img{
    position: absolute;
    right: 48%;
    top: 30px;
    height: 80px;
    width: 80px;
    animation: appearAfterSlide forwards 3s;
}

.carrousel-arrow:hover{
    opacity: 0.9;
}

@keyframes appearAfterSlide {
    0%{opacity: 0;}
    96%{opacity: 0;}
    100%{opacity: 1;}
    
}

.carrousel-footer{
    height: 20vh;
    background-color: #0c41641a;
    overflow: hidden;
    
}

/* ------------- P A R A L L A X ------------------------*/
/* 
/* https://alvarotrigo.com/blog/how-to-create-a-parallax-effect-with-css-only/ */



.parallax-container{
    
    
    position:relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.parallax-container::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, transparent, black, transparent);
    z-index: 1000;
    mix-blend-mode: color;
}

.parallax-container img{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}


.parallax-text{
    z-index: 1001;
    display: flex;
}


.parallax-text-left{
    font-family: 'Alatsi', sans-serif;
    font-size: 7em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18px;
}

.parallax-text-left p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: right;  
    text-shadow: 0 0 3px black ;
}

.parallax-text-right{
    font-family: 'Alatsi', sans-serif;
    font-size: 7em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    border-left: 4px solid wheat;
}

.parallax-text-right p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 0 0 3px black ;
}

*/


/* -------------- P R E S E N T A T I O N ---------------------*/

.presentation-container {
    position: relative;    
    margin: 144px 0 144px 0;
    background-color:none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
.presentation-background{
    
    width: 70%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    
    
}


.presentation-logo{

}

.presentation-logo-img{
    height: 210px;
    width: 210px;
    margin-right: 18px;
}

.presentation-text{
    font-family: 'Alatsi', sans-serif;
    font-size: 52px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 18px;
    border-left: 4px solid var(--logogreen);
}

.presentation-text p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--logogreen);
}


/*  c a r d s */


.destacados {
    position: relative;
    
    padding-bottom: 60px;
    
}

.card-container-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 68px;
    color: var(--logogreen);
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 48px;
}


.card-container{
    background-color: white ;
    display: grid;
    justify-content: center;
    gap: 5px;
}

@media (min-width: 350px){
    .card-container{
        grid-template-columns: auto auto;
    }
}

@media (min-width: 525px){
    .card-container{
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 700px) {
    .card-container{
        grid-template-columns: auto auto auto auto;
    }
}   

@media (min-width: 875px){
    .card-container{
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (min-width: 1050px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto;
    }
}   

@media (min-width: 1225px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}   

@media (min-width: 1400px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto auto;
        width: 100%;
        margin: 0 auto;
    }
}   
/*
@media (min-width: 1575px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
    }
}   

@media (min-width: 1750px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        
    }
}   


@media (min-width: 1925px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    }
}   

@media (min-width: 2100px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    }
}   

@media (min-width: 2275px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }
}   

@media (min-width: 2450px) {
    .card-container{
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }
}

*/
.card {
    height: 210px;
    width: 170px;

    border-radius: 8px;
    overflow: hidden;
    
   
}

.card:hover {
    box-shadow: 0 0 10px 1px white;
    cursor:pointer;

}

.new-card{
    animation-name: slideUp;
    animation-duration: 1s;
    visibility: visible;
}


@keyframes slideUp {
    0% {
      opacity: 0;
      
    } 
    100% {
      opacity: 1;
    }
  }

.card-image{
    width: 100%;
    object-fit:contain;
    opacity: 0.92;
    
  /*
    object-fit:fill;  
    object-position: center;
    margin: 0 auto;*/
}

.card-image:hover{
    transform: scale(1.02);
    transition: 0.2s;
    opacity: 1;
}


.footer-container    {
    height: 300px;
    background-image: linear-gradient(to top, #0c4164, black);
    display: flex;
   
}

.footer-left{
    padding-left: 8%;
    border-left: 25px solid rgb(189, 189, 189);
    margin-top: auto;
    margin-bottom: 3%;
    height: fit-content;
    

}

.card-container-footer{
    height: 300px;
    
}

.change{
    height: 50px;
}

.card-container-masinfo{
    width:80%;
    margin: 10px auto;
    cursor: pointer;
}

.card-container-masinfo-text{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 2em;
    border: 1px solid var(--logogreen);  
    padding: 4px;
    color: var(--logogreen);
}

.card-container-masinfo-text:hover{
    border: 1px solid var(--logogreen);  
    color: white;
    background-color: var(--logogreen) 

}



/* ----------- E Q U I P O ----------- */

.equipo{
    height: 90vh;
    background-color: #0c41641a;    
}

.title-equipo{
    padding-top: 150px;
}

.equipo-container{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 140px;
    
}

.equipo-card{
    width: 300px;
    margin: 0 50px;
}

.equipo-card-img{
    margin: 0 auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 5px 3px var(--logogreen);
    position: relative;
    z-index: 21;
    
}

.equipo-card-img::before{
    content: '';
    position: absolute;
    top: -20%;
    left: -25%;
    border-radius: 50px 50px  0 0;
    height: 176px;
    width: 150%;
    background-color:var(--logogreen);
    z-index: 20;
}


.equipo-card-img img{
    object-fit:cover;
    object-position: 0 0;   
}

.equipo-card-nombre{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 2.8em;
    font-weight: 600;
    margin: auto;
    margin-top: 8px;
}

.equipo-card-descripcion{
    margin: 5px auto;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 1.5em;
    
}

.equipo-card-masinfo{
    width:fit-content;
    margin: 10px auto;
    cursor: pointer;
}

.equipo-card-masinfo-tag{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 1em;
    border: 1px solid rgb(124, 123, 123);    
    border-radius: 8%;
    padding: 3px;
    color: gray;
}

.equipo-card-masinfo-tag:hover{
    border: 1px solid var(--logogreen);  
    color: white;
    background-color: var(--logogreen) 
}

/* ---------- S L O G A N ------------------*/


.slogan{
    background-color: var(--salmon-hov);
    position: relative;
}

.slogan::before{
    content:'';
    background-image: url('../img/giraffe.png');
    color: white;
    background-size:contain;
    background-repeat:no-repeat;
    
    position: absolute;
    height: 680px;
    width: 600px;
    top:50px;
    left: 55%;
    opacity: .3;
}



.slogan-inside{ 
    width: 70%;
    height: 710px;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    padding-left: 5%;  
    opacity: 0.8;

}

.slogan-inside-text{
    font-size: 3.2em;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    font-family: 'Encode Sans Condensed', sans-serif;
}

